body{
  font-family: 'Microsoft YaHei', sans-serif;
}
/*进度条*/
.progress {
  margin-bottom: 15px;
}
/*contact*/
.contact {
  margin: 15px 0;
}
/*媒体对象图像*/
.wh64 {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
/*添加内容*/
.article {
  margin-top: 10px;
}
/*标签管理*/
.taglist {
  margin-top: 10px;
}
.tag-item {
  margin-right: 10px;
}
/*footer*/
footer {
  font-weight: 400;
  text-align: center;
  padding: 20px;
}